/* 4 - External */
body{
    padding-bottom: 500px;
}
h3{
    color: green;
    font-size: 20px;
}
/* classes */
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}
/* IDs */
#exclusive-title{
    background-color: purple;
    color: gold;
    padding: 10px;
}
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 5px solid green;
    color:blueviolet ;
}

/* Nome de cores */
.color-name{
    color: lightgreen;
}

/* HEX*/
.hex{
    color: #26a4e7;
}
.hex2{
    color: #3e9a44;
}

/* aprofundando HEX */
.simple-hex{
    color: #069;
}

/* RGB */
.rgb{
    color:rgb(255, 0, 0)
}
.mixed-rgb{
    color: rgb(155, 27, 44);
}

/* RGBA */
.rgba{
    color:rgba(255, 100, 34, 0.3) ;
}

/* HSL */
.hsl{
    color: hsl(255, 50%, 40%);
}
.hsl2{
    color: hsl(150, 70%, 80%);
}

/* Background */
.bg{
    background-color: #000;
    color: yellow;
}
.bg2{
    background-color: rgb(200,30,85);
    color: green;
}

/* Opacidade no BG */
.bg-opacity{
    background-color:rgb(138, 43, 226,0.8) ;
    color: #000;
    
}

.bg-opacity-2{
    background-color:#999 ;
    color: #000;
    opacity: 0.8;
}
/* BG Image */
.singed{
    background-image:url(./img/images.jpg);
    padding: 10px;
    color: #FFF;
}
.not-centered-br,
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url(./img/images.jpg);
}
.centered-bg{
    background-position: center;
    background-size: cover;
}

/* height e width */
.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2{
    height: 300px;
    background-color: #069;
}

/* Padding */
.without-padding,
.padding{
    background-color: #000;
    color: #FFF;
}
.padding{
    padding: 20px;
}

/* Padding indivudal */
.padding-individual{
    background-color: dodgerblue;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}
/* Shorthand padding */
.shorthand-padding{
    background-color: #444;
   padding: 6px 12px 18px 24px;
}
.shorthand-padding-2{
    background-color: #555;
    padding: 10px 20px;
}

/* Padding com width */
.without-border-box{
    background-color: darkslategrey;
    color: #FFF;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #265ff4;
    color: #FFF;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid  red ;
    padding: 10px;
}
.border-2{
    border: 2px dotted #931;
    padding: 25px;
}

/* Border individual */
.border-left {
    border-left: 3px solid red ;
    background-color: #000;
    padding: 25px;
    color: #FFF;
}
.border-bottom {
    border-bottom: 5px solid #3e9a44;
    border-left: 5px solid #3e9a44;
    background-color: cornflowerblue;
    padding: 25px;
}

/* Borda arredondada */
.rounded-p{
border: 5px solid purple;
background-color: #000;
color: #FFF;
border-radius: 15px;
}
.rounded-p-2{
    border: 5px solid purple;
background-color: #000;
color: #FFF;
border-radius: 50px;
}

/* Margem */
.margin{
 margin: 10px;
 background-color: #000;
 color: #FFF;
 padding: 10px;
}

.margin-top{
 margin-top: 50px;
 background-color: #444;
 padding: 10px;
}

.margin-shorthand{
    background-color: #b2b2b2;
    margin: 5px 10px 15px 20px ;
}

/* Box model */
.box-model {
margin: 20px;
padding: 15px 25px;
border: 3px solid #589;
width: 200px;
height: 100px;
}

/* Alinhamento de texto */
.alinhado{
    text-align: center;
    background-color: #3e9a44;
    color: #FFF;
}
.card{
    text-align: center;
    color: yellow;
    background-color:red;
    width: 400px;
    border: #000 solid 5px;
}

/* Estilizando os textos */
.underline{
    text-decoration: underline;
}
.riscado{
    text-decoration: line-through;
}
.sem-underline{
    text-decoration: none;
}

/* Text transform */
.uper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}

/* letter spacing */
.spacing{
    letter-spacing: 10px;   
}

/* Fontes */
.serif{
    font-family: serif;
}
.sans-serif{
    font-family: sans-serif;
}
.monospace{
    font-family: monospace;
}
.cursive{
    font-family: cursive;   
}
.fantasy{
    font-family: fantasy;
}

/* Font-style */
.italic{
    font-style: italic;
}
.oblique{
    font-style: oblique;
}

/* Font weight */
.thin, .bold , .bolder{
    font-family:Helvetica;
}
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 600;
}
.bolder{
    font-weight: 900;
}

/* Font Size */
.small{
    font-size: 10px;
}
.big{
    font-size: 100px;
}

/* Display */
.inline-block{
    width: 50px;
    height: 50px;
    background-color: #479;
    display: inline-block;
    text-align:center;
    margin: 10px;
}
.block{
    background-color: #265ff4;
    display: block;
    margin: 10px;
}

/* Escondendo Elementos */
.invisible{
    display: none;
}

/* Static */
.static{
    position: static;
    background-color: #244;
    color: #FFF;
    width: 100px;
    height: 100px;
}

/* Relative */
.relative{
    position: relative;
    background-color: #505;
    color: #FFF;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

/* Absolute */
.absolute{
    position: absolute;
    background-color: #26a4e7;
    color: #FFF;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
    
}
/* Relative com absolute */
.relative-container{
    width: 300px;
    height: 300px;
    border: 10px solid red;
    margin-top: 120px;
    position: relative;
}
.absolute-1, .absolute-2{
    height: 50px;
    width: 50px;
    background-color: darkgoldenrod;
    position: absolute;
}
.absolute-1{
    top: 10px;
    left: 10px;
}
.absolute-2{
    bottom: 10px;
    right: 10px;
}

/* Fixed */
.fixed{
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    margin-top: 120px;
    position: fixed;
    top: 50px;
    right: 100px;
}

/* Sticky */
.sticky{
    width: 100px;
    height: 100px;
    border: 10px solid yellow;
    margin-top: 120px;
    position: sticky;
    top: 50px;
   
}

/* Z Index */
.absolute-3,
.absolute-4,
.absolute-5{
    height: 50px;
    width: 50px;
    background-color: yellowgreen;
    position: absolute;
}

.absolute-3{
    top: 0;
    left: 0;
    z-index: 3;
}
.absolute-4{
    top: 10px;
    left: 10px;
    background-color: #505;
    z-index: 2;
}
.absolute-5{
    top: 50px;
    left: 50px;
    background-color: #3e9a44;
    
}
