/* 4 - External */
body{
    padding-bottom: 500px;
}
h3{
    color: green;
    font-size: 20px;
}
/* classes */
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}
/* IDs */
#exclusive-title{
    background-color: purple;
    color: gold;
    padding: 10px;
}
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 5px solid green;
    color:blueviolet ;
}

/* Nome de cores */
.color-name{
    color: lightgreen;
}

/* HEX*/
.hex{
    color: #26a4e7;
}
.hex2{
    color: #3e9a44;
}

/* aprofundando HEX */
.simple-hex{
    color: #069;
}

/* RGB */
.rgb{
    color:rgb(255, 0, 0)
}
.mixed-rgb{
    color: rgb(155, 27, 44);
}

/* RGBA */
.rgba{
    color:rgba(255, 100, 34, 0.3) ;
}

/* HSL */
.hsl{
    color: hsl(255, 50%, 40%);
}
.hsl2{
    color: hsl(150, 70%, 80%);
}

/* Background */
.bg{
    background-color: #000;
    color: yellow;
}
.bg2{
    background-color: rgb(200,30,85);
    color: green;
}

/* Opacidade no BG */
.bg-opacity{
    background-color:rgb(138, 43, 226,0.8) ;
    color: #000;
    
}

.bg-opacity-2{
    background-color:#999 ;
    color: #000;
    opacity: 0.8;
}
/* BG Image */
.singed{
    background-image:url(./img/images.jpg);
    padding: 10px;
    color: #FFF;
}
.not-centered-br,
.centered-bg{
    height: 400px;
    width: 400px;
    background-image: url(./img/images.jpg);
}
.centered-bg{
    background-position: center;
    background-size: cover;
}

/* height e width */
.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2{
    height: 300px;
    background-color: #069;
}

/* Padding */
.without-padding,
.padding{
    background-color: #000;
    color: #FFF;
}
.padding{
    padding: 20px;
}

/* Padding indivudal */
.padding-individual{
    background-color: dodgerblue;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}
/* Shorthand padding */
.shorthand-padding{
    background-color: #444;
   padding: 6px 12px 18px 24px;
}
.shorthand-padding-2{
    background-color: #555;
    padding: 10px 20px;
}

/* Padding com width */
.without-border-box{
    background-color: darkslategrey;
    color: #FFF;
    width: 400px;
    padding: 50px;
}

.border-box{
    background-color: #265ff4;
    color: #FFF;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border {
    border: 5px solid  red ;
    padding: 10px;
}
.border-2{
    border: 2px dotted #931;
    padding: 25px;
}

/* Border individual */
.border-left {
    border-left: 3px solid red ;
    background-color: #000;
    padding: 25px;
    color: #FFF;
}
.border-bottom {
    border-bottom: 5px solid #3e9a44;
    border-left: 5px solid #3e9a44;
    background-color: cornflowerblue;
    padding: 25px;
}

/* Borda arredondada */
.rounded-p{
border: 5px solid purple;
background-color: #000;
color: #FFF;
border-radius: 15px;
}
.rounded-p-2{
    border: 5px solid purple;
background-color: #000;
color: #FFF;
border-radius: 50px;
}

/* Margem */
.margin{
 margin: 10px;
 background-color: #000;
 color: #FFF;
 padding: 10px;
}

.margin-top{
 margin-top: 50px;
 background-color: #444;
 padding: 10px;
}

.margin-shorthand{
    background-color: #b2b2b2;
    margin: 5px 10px 15px 20px ;
}

/* Box model */
.box-model {
margin: 20px;
padding: 15px 25px;
border: 3px solid #589;
width: 200px;
height: 100px;
}